@font-face {
    font-family: 'SideBar';
    src:  url('./static/JosefinSans-wght.ttf');
    font-weight: 100 650;
    font-stretch: 50;
}

@font-face {
    font-family: 'Headings';
    src:  url('./static/OpenSans-wdth.wght.ttf');
}

@font-face {
    font-family: 'MainBody';
    src:  url('./static/RedHat-wght.ttf');
    font-weight: 100 3600;
    font-stretch: 100;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'MainBody', Helvetica, sans-serif;
  width: 67%;
  min-width: 850px;
}

.sidebar {
  font-family: 'SideBar', Monospace;
  font-size: 110%;
  /* font-family: Monospace; */
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #1e1e1e;
  height: 100%;
  position: fixed;
  overflow: auto;
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 120%;
}

.sidebar a:hover {
  /* background-color: #555; */
  color: #C84B31;
  font-weight: Bold;
  /* color: white; */
}

.sidebar a.active {
  /* background-color: #C84B31; */
  color: #C84B31;
  font-weight: Bold;
}

div.outline-2, div.logo {
    margin-left: 250px;
    line-height: 1.6;
    padding-bottom: 1em;
}

.sidebar .icon {
  display: none;
}

@media screen and (max-width: 900px) {
    body{
        width: 100%;
        min-width: 0;
    }
  .sidebar {
    width: 100%;
    height: auto;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .sidebar a {float: left;}
  div.outline-2 , div.logo {margin: 2%;}
}

@media screen and (max-width: 600px) {
  .sidebar a {
    text-align: center;
    float: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
  }
  div.logo {margin: auto;}
  .sidebar a:not(:active) {display: none;}
  .sidebar a.icon {
    float: auto;
    display: block;
  }
  .sidebar.responsive {
    position: -webkit-sticky; /* Safari */
    position: sticky;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .sidebar.responsive .icon {
    text-align: center;
    display: block;
  }
}

#postamble {
    text-align: right;
}

blockquote {
  padding: 0.7em 0.7em 0.7em 0.7em;
  border-left: 4px solid #006600;
  background: #efe;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.2em;
}

h2, h3, h4 {
  font-family: 'Heading', monospace;
}
h2 {
  font-size: 200%;
  color: #C84B31;
  margin-top: 0;
}
h3 {
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

.logo {
  padding: 25px;
  /* position: -webkit-sticky; /* Safari */
  /* position: sticky; */
  top: 0;
  margin-left: 200px;
}

.logo__link {
	display: inline-block;
}

.logo__item {
	display: inline-block;
	vertical-align: middle;
	margin: .5rem auto;
}

.logo__text {
	text-transform: uppercase;
	padding: 0 1rem;
}

.logo__title {
	font-size: 32px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
	color: #111111;
}

.logo__tagline {
	display: inline-block;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 700;
	line-height: 1;
	color: #e53030;
	border-top: 1px solid var(--cursorColor);
}
